:root{
  --hue: 194;
  --first-color: hsl(240, 6%, 21%);
  --bg-color: hsl(var(--hue), 97%, 31%);
  --font-main: 'Roboto', sans-serif;

  font-size: 66.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-main);
}


.page {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  height: 100vh;
}

main {
  margin: 2rem auto;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-areas: 
  'dark dark'
  'time time'
  'buttons buttons'  ;
}

main:first-child{
  gap: 1.5rem;
}

.dark-mod {
  grid-area: dark;
  width: 30%;
  margin: 0 auto;
}

.dark-mod button {
  padding: 1rem;
}
/*  START DARK MOD */
.dark-theme-bg-text-body{
  background-color: black;
  color: white;
}

.dark-theme-buttons-bg path.bg{
  fill: #29292E;
}


.dark-theme-buttons path{
  fill: #FFF;
}



/* END DARK MOD */

main section,
aside {
  display: grid;
}


main section{
  grid-area: time;
}

main section .timer{
  font-style: normal;
  font-weight: 500;
  font-size: clamp(4rem ,6rem + 5vw ,6rem + 10vw);
  line-height: 14.8rem;

  text-transform: uppercase;
  
  color: var(--first-color);

  justify-self: center;
  align-self: flex-end;
}

main section .buttons-timer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: clamp(1rem, 1rem ,2rem );
  justify-self: center;

}

main section .buttons-timer button,
main aside button,
.dark-mod button{
  border: none;
  background: transparent;

  width: 100%;
  cursor: pointer;
}


.hide{
  display: none;
}

main section .buttons-timer button svg {
  width: clamp(3.5rem,4rem,5rem);
}

button.selected path.bg{
  fill: var(--bg-color);
}

button.selected path.ft{
  fill: #FFF;
}

aside{
  grid-area: buttons;

  grid-template-columns: 1fr 1fr;
  gap: clamp(.5rem,1rem,3.2rem);
  max-width: 30rem;
}

aside .button{
  position: relative;
}

aside .button input{
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 15px;
  width: 80%;
  height: 16px;
}




@media (min-width:768px) {
  main{
    margin: 0 auto;
    width: 100%;
    grid-template-areas: 
    ' .   dark '
    'time  buttons';
    gap: clamp(10rem,12rem , 19.2rem);
  }

  
  .dark-mod {
    display: grid;
    justify-self: flex-end;
    margin: 0  0 10rem;
  }
}
